<h3>Update Url</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Alias</label>
      <input type="text" class="form-control" id="alias" required [(ngModel)]="url.alias" name="alias">
    </div>

    <div class="form-group">
      <label for="name">Url Longa</label>
      <input type="text" class="form-control" id="longUrl" required [(ngModel)]="url.longUrl" name="longUrl">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
